---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ app_name }}-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: {{ storage_amount }}Mi